name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    permissions:
      checks: write  # Required for publishing the test results
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          # List of distributions: https://github.com/actions/setup-java?tab=readme-ov-file#supported-distributions
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run all tests
        env:
          RUN_INTEGRATION_TEST: 'true'
        run: ./gradlew allTests

      - name: Publish Test Results
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/**/TEST-*.xml'
          include_passed: true
